:root {
    /* Colors */

    /* Primary */

    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);

    /* Neutral */

    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Cream);
    padding: 2rem 1rem;
    color: var(--Dark-brown);
    display: grid;
    font-family: "DM Sans", sans-serif;
    place-items: center;
    min-height: 100vh;
}

main {
    display: grid;
    gap: 1.5rem;
}

hgroup {
    display: flex;
    justify-content: space-between;
    background-color: var(--Soft-red);
    color: white;
    padding: 1.5rem;
    border-radius: 20px;

    & h1 {
        font-size: 1rem;
        font-weight: normal;

        .price {
            display: block;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    img {
        width: 70px;
    }
}

section {
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 20px;
    display: grid;
    gap: 2rem;

    & h2 {
        font-weight: 600;
        font-size: 1.6rem;
        place-self: start;
    }



    ul {
        display: flex;
        list-style: none;
        align-items: end;
        height: 180px;
        margin-top: 2rem;
        place-self: center;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: .5rem;
        color: var(--Medium-brown);
        cursor: pointer;
    }

    li::before {
        content: "$" attr(data-amount);
        opacity: 0;
        color: var(--Very-pale-orange);
        background-color: var(--Dark-brown);
        padding: 0.4rem;
        font-family: "DM Sans", serif;
        border-radius: 5px;
        font-weight: 600;
        font-size: 0.8rem;
        transition: opacity .2s;

    }

    li:hover {
        .piller {
            opacity: 0.8;
        }

        &::before {
            opacity: 1;
        }
    }

    .piller {
        width: 40px;
        border-radius: 4px;
        height: 100%;
        background-color: var(--Soft-red);
        animation: fill 1s linear 1;
    }

    li:nth-child(1) {
        height: 130px;
    }

    li:nth-child(2) {
        height: 175px;
    }

    li:nth-child(3) {
        height: 220px;
    }

    li:nth-child(4) {
        height: 160px;
    }

    li:nth-child(5) {
        height: 140px;
    }

    li:nth-child(6) {
        height: 190px;
    }

    li:nth-child(7) {
        height: 150px;
    }

    & hr {
        outline: none;
        background-color: var(--Cream);
        border: none;
        height: 2px;
    }

    .total-this-month {
        display: grid;
        gap: 0.4rem;

        & h3 {
            color: var(--Medium-brown);

        }
    }

    .amount {
        display: flex;
        justify-content: space-between;
        align-items: center;




        .percentage {
            display: grid;
            font-size: 1.1rem;
            color: var(--Medium-brown);
        }

        & em {
            display: block;
            font-weight: 600;
            font-style: normal;
            justify-self: end;
            color: var(--Dark-brown);
        }


    }

    .total-price {
        font-size: 2.2rem;
        font-weight: 600;
    }

    h3 {
        font-weight: 500;
    }
}


@keyframes fill {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

/* when the screen is smaller than 475 */
@media (max-width: 475px) {
    section {
        padding-inline: 0;

        &>*:not(ul) {
            padding-inline: 1.5rem;
        }

        ul {
            padding-inline: 0.5rem;
        }

        hr {
            margin-inline: 1rem;
        }
    }
}


/* desktop  */
@media (min-width: 40em) {
    main {
        max-width: 500px;
    }

    section {
        padding-inline: 2rem;

        & h2 {
            font-size: 1.8rem;
        }


        .piller {
            width: 50px;
        }

        li::before {
            font-size: 1.2rem;
            padding-inline: .5rem;
        }
    }

    .amount {
        .total-price {
            font-size: 3rem;
        }

    }
}

.today {
    .piller {
        background-color: var(--Cyan);
    }
}